@{
    ViewData["Title"] = "Notifix Registration";
}

@section Css {
    <link rel="stylesheet" href="~/css/signstyle.css">
}

<div class="form">
    <div id="password">
        <h1>New Password</h1>
        <p id="passwordErrorMsg" class="errMsg"> </p>

        <form>
            <div class="field-wrap">
                <label>
                    Email Adress<span class="req"></span>
                </label>
                <input id="mail" autocomplete="off" />
            </div>
            <button type="submit" class="button button-block">
                Send New Password
            </button>
        </form>
        <p class="back"><a href='/login'>Back to login page</a></p>
    </div>


</div><!-- tab-content -->



<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

@section Scripts {
    <script src="~/js/WSinterface.js"></script>
    <script src="~/js/loginform/passwordFormHandler.js"></script>
}