<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="~/lib/jquery-ui.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ8oRX_6L0YwjDwBEB8DvaBulOEA3r1ow&libraries=places"></script>
    @RenderSection("Css", required: false)
</head>

<body>

    @RenderBody()

    <script src="~/lib/jquery-3.2.1.min.js"></script>
    <script src="~/lib/jquery-ui.min.js"></script>
    <script src="~/lib/materialize/js/materialize.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
